// # Colores , fuentes , spacings

$color-primary: #111;
$color-secondary: white;
$color-bg: #f8fafc;
$color-white: white;
$color-success: #16a34a;
$color-error: #dc2626;
$color-text: #6b6375;
$color-text-2: #64748b;
$color-text-3: #1e293b;
$color-text-4: #ef4444;
$color-text-5: #b91c1c;
$color-text-6: #e2e8f0;
$color-text-7: #cbd5e1;
$bg-color-primary: #de3163;
$bg-color-secondary: #f56991;
$bg-color-white: white;
$bg-color-black: #111;

// Breakpoints para Responsive
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// Exportamos las variables para que también pueden ser leidas desde TypeScript

:export {
  primary: $color-primary;
  background: $color-bg;
}
